***Exercise 1: Create a Jupyter Notebook***

***Exercise 2: Create markdown cell with title of the notebook***

# Data Science Tools and Ecosystem

***Exercise 3: Create a markdown cell for an introduction***

In this notebook, Data Science Tools and Ecosystem are summarized.

***Exercise 10: Insert a markdown cell to list Objectives***

**Objectives:**
* Create and use Markdown cells
* List popular languages for Data Science
* List popular libraries for Data Science
* List development environment open source tools for Data Science
* Create and execute a Code Cell

***Exercise 4: Create a markdown cell to list data science languages***

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQl - Structured Query Language
4. Java
5. Scala
6. C++
7. JavaScript

***Exercise 5: Create a markdown cell to list data science libraries***

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Scikit Learn
4. Keras
5. Matplotlib
6. NumPy
7. Pandas

***Exercise 6: Create a markdown cell with a table of Data Science tools***

| Data Science Tools |
| ------------------ |
| Jupyter |
| R Studio |
| Apache Zeppelin |

***Exercise 7: Create a markdown cell introducing arithmetic expression examples***

### Below are a few examples of evaluating arithmetic expressions in Python

***Exercise 8: Create a code cell to multiply and add numbers***

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

***Exercise 9: Create a code cell to convert minutes to hours***

In [24]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

***Exercise 11: Create a markdown cell to indicate the Author's name***

## Author
Ashlynn Squire